{%  extends 'layout.html' %}

{% block account %}
    <form action="/signin">
        <button
                class="btn btn-outline-primary me-2 shadow-sm"
                type="submit">
            Sign in
        </button>
    </form>
    <button
            class="btn btn-outline-primary shadow-sm"
            type="submit">
        Sing up
    </button>
{% endblock %}

{% block main %}
    <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <img src="https://pbs.twimg.com/profile_images/717134099186470913/6l1NMfZ7_400x400.jpg" class="img-fluid rounded mx-auto d-block" alt="...">
                </div>
                <div class="col my-auto">
                    <h1>Welcome to World Of Words</h1>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
          </div>

          <div class="h1 text-center">
            Features
          </div>

          <div class="container mt-5">
            <div class="card-group">
                <div class="card mb-3 mx-auto rounded shadow-sm" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8 my-auto">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mb-3 mx-auto rounded shadow-sm" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8 my-auto">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
          <div class="card-group">
              <div class="card mb-3 mx-auto rounded shadow-sm" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8 my-auto">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3 mx-auto rounded shadow-sm" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8 my-auto">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div class="container mt-5">
        <div class="card-group">
            <div class="card mb-3 mx-auto rounded shadow-sm" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8 my-auto">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3 mx-auto rounded shadow-sm" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8 my-auto">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}